<!DOCTYPE html>
<html lang="en">

<head>
  <script src="js/labphase.js" async=""></script>
  <meta charset="UTF-8">
  <title>Home Page</title>
  <style>
    body {
      background-image: url(https://images.unsplash.com/photo-1535940360221-641a69c43bac?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YWZyaWNhbiUyMHNhdmFubmF8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80);
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  </style>
  <link id="favicon" rel="icon" href="img/icon1.jpg" type="image/x-icon" style="border-radius: 50% ;">
 <link rel="stylesheet" href="css/labphase.css" />
</head>

<body>
  <header>
    <nav class="box12">
      <div><a href="/"><img alt="Home Page" src="img/icon1.jpg" style="border-radius:50%; height: 80px; width: 80px;"></a>
        <div class="box130"><a href="/" style="color:orange;text-decoration: none;">Home Page</a></div>
      </div>
      <div class="box120"><a class="box34" href="/OurServices" style="  margin-right: 30px; margin-left: 30px;text-decoration: none;">Our Services</a><a class="box34" href="/ContactUs" style="  margin-right: 30px; margin-left: 30px; text-decoration: none;">Contact Us</a></div>
    </nav>
  </header>
<div class="box1100">
<div><img src="img/icon1.jpg"  class="box1300"  /></div>
<div style="color: red"  style="text-align:center" style="padding-top:15%">
<h1 style="text-align:center"   style="margin-top:15%" >Welcome to our travel agency's home page.</h1>
<h1 style="text-align:center"  >Here, we give you the opportunity to discover various destination.</h1>
<h1 style="text-align:center"  >Your well being is our final goal.</h1>
</div>
</div>

</body>

</html>